/.tools/
/.env

/backend/.env
/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/storage/app/firebase/*.json
/backend/.phpunit.cache

/mobile/node_modules/
/mobile/www/
/mobile/.angular/
/mobile/coverage/
/mobile/android/app/google-services.json

/hostinger_deploy
/hostinger_deploy.pub